<div class="profilenavbar" th:fragment="profilebar">
    <a th:href="@{/profile/dashboard}">
        <div class="profilebarbuttons" th:classappend=" ${isDashboard} ? selectedbtn : '' ">
            <span>MY DASHBOARD</span>
        </div>
    </a>
    <a th:href="@{/profile/overview}">
        <div class="profilebarbuttons" th:classappend=" ${isOverview} ? selectedbtn : '' ">
            <span>OVERVIEW</span>
        </div>
    </a>
    <a th:href="@{/profile/myMovieList}">
        <div class="profilebarbuttons" th:classappend=" ${isMovieStats} ? selectedbtn : '' ">
            <span>MY MOVIE</span>
        </div>
    </a>
    <a th:href="@{/profile/myTvList}">
        <div class="profilebarbuttons" th:classappend=" ${isTvStats} ? selectedbtn : '' ">
            <span>MY TV SHOWS</span>
        </div>
    </a>
    <a th:href="@{/profile/myAnimeList}">
        <div class="profilebarbuttons" th:classappend=" ${isAnimeStats} ? selectedbtn : '' ">
            <span>MY ANIME</span>
        </div>
    </a>
    <a href="#">
        <div class="profilebarbuttons">
            <span>MY GAMES</span>
        </div>
    </a>
    <a href="#">
        <div class="profilebarbuttons">
            <span>MY MUSIC</span>
        </div>
    </a>
    <a href="#">
        <div class="profilebarbuttons">
            <span>MY BOOKS</span>
        </div>
    </a>
    <a th:href="@{/profile/reviews}">
        <div class="profilebarbuttons" th:classappend=" ${isReviewStats} ? selectedbtn : '' ">
            <span>MY REVIEWS</span>
        </div>
    </a>
    <a href="#">
        <div class="profilebarbuttons">
            <span>MY STATS</span>
        </div>
    </a>
    <a href="#">
        <div class="profilebarbuttons">
            <span>MY FRIENDS</span>
        </div>
    </a>
</div>