<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/about.css}">
</head>
<body>

    <header>
        <ul id="navigation">
            <li id="special"><a class="get-started" th:href="@{/}">← Go Back</a></li>
        </ul>
    </header>

    <div class="content">
        <ul class="team">
            <li class="member co-funder">
                <div class="thumb"><img src="https://i.ibb.co/vd7ptvD/smile-boy.png"></div>
                <div class="description">
                    <h3>Who created this beautiful project?</h3>
                    <p> Just a guy and full-time student at the final year of study at Technical University of Moldova, speciality IT, who tried to create a recommender system for different content in one place.
                        Movies, TV series, music, anime, manga, comics, video games and maybe more...
                    </p>
                </div>
            </li>
            <li class="member co-funder">
                <div class="thumb"><img src="https://i.ibb.co/qyXDvrV/real-duck.jpg"></div>
                <div class="description">
                    <h3>So, what's a recommender system?</h3>
                    <p> A RS is an intelligent system (not like you) that analyze user behaviour and preferences to make personalized recommendation for products, services, or content.
                        It's commonly used in e-commerce, entertainment and social media.
                    </p>
                </div>
            </li>
            <li class="member co-funder">
                <div class="thumb"><img src="https://i.ibb.co/dtPqr8m/laught-cruze.jpg"></div>
                <div class="description">
                    <h3>How do recommender systems works?</h3>
                    <p>Recommender systems use algorithms to analyze user data, such as browsing history, purchase history, ratings, and reviews,
                        to identify patterns and make personalized recommendations. There are different types of recommender systems, including content-based,
                        collaborative filtering, and hybrid approaches.</p>
                </div>
            </li>
            <li class="member co-funder">
                <div class="thumb"><img src="https://i.ibb.co/5Rn5Qht/cow.jpg"></div>
                <div class="description">
                    <h3>Why do I need a recommender system for my application?</h3>
                    <p>A recommender system can improve the user experience of your application by providing personalized recommendations that are relevant to the user's interests
                        and preferences. This can increase user engagement, retention, and satisfaction, and ultimately drive business growth.</p>
                </div>
            </li>
            <li class="member co-funder">
                <div class="thumb"><img src="https://i.ibb.co/Nr4S9yc/asian-boy.jpg"></div>
                <div class="description">
                    <h3>What kind of data do I need to build a recommender system?</h3>
                    <p>To build a recommender system, you typically need user data and item data. User data includes information about the user's behavior, preferences,
                        and demographics. Item data includes information about the products, services, or content that you want to recommend.</p>
                </div>
            </li>
        </ul>
    </div>

</body>
</html>