<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/movies.css}">
</head>

<body>

    <header>
        <div class="navbar navbar-dark bg-black">
            <div class="container d-flex justify-content-between">
                <a th:href="@{/}" class="navbar-brand d-flex align-items-center">
                    <strong>RSMC</strong>
                </a>
                <a class="navbar-brand d-flex align-items-right" th:href="@{/profile/overview}">
                    Hello, <span th:text="${principalName}">USER</span>!
                </a>
                <a class="navbar-brand d-flex align-items-right" th:if="${principalName != null}" th:href="@{/logout}">
                    Logout
                </a>
            </div>
        </div>
    </header>

    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading" style="color: white;">MOVIES</h1>
            </div>
        </section>

        <div class="album py-3 bg-light">

            <div class="container">
                <form th:action="@{/movies}">
                    Filters:
                    <div class="form-outline mb-1 container">
                        <div class="dropdown dropdown-dark">
                            <select name="genre" class="dropdown-select" id="genre-drop">
                                <option selected value="*">All genres</option>
                                <option th:each="genre: ${movieGenres}" th:value="${genre}" th:text="${genre}" th:selected="${genre.equals(selectedGenre)}"></option>
                            </select>
                        </div>
                        <div class="dropdown dropdown-dark">
                            <select name="year" class="dropdown-select">
                                <option selected value="0">All release year</option>
                                <option th:each="r_year: ${releaseYears}" th:value="${r_year}" th:text="${r_year}" th:selected="${r_year.equals(selectedYear)}"></option>
                            </select>
                        </div>
                        <div class="dropdown dropdown-dark">
                            <select name="language" class="dropdown-select">
                                <option selected value="*">All original language</option>
                                <option th:each="lang: ${originLang}" th:value="${lang}" th:text="${lang}" th:selected="${lang.equals(selectedLang)}"></option>
                            </select>
                        </div>
                        <div class="dropdown dropdown-dark">
                            <select name="sortBy" class="dropdown-select">
                                <option selected value="titleAsc" th:selected="${ #strings.equals('titleAsc', selectedSort) }">Sort ASC by title</option>
                                <option value="titleDesc" th:selected="${ #strings.equals('titleDesc', selectedSort) }">Sort DESC by title</option>
                                <option value="yearAsc" th:selected="${ #strings.equals('yearAsc', selectedSort) }">Sort ASC by release year</option>
                                <option value="yearDesc" th:selected="${ #strings.equals('yearDesc', selectedSort) }">Sort DESC by release year</option>
                                <option value="langAsc" th:selected="${ #strings.equals('langAsc', selectedSort) }">Sort ASC by origin language</option>
                                <option value="langDesc" th:selected="${ #strings.equals('langDesc', selectedSort) }">Sort DESC by origin language</option>
                                <option value="lengthAsc" th:selected="${ #strings.equals('lengthAsc', selectedSort) }">Sort ASC by length</option>
                                <option value="lengthDesc" th:selected="${ #strings.equals('lengthDesc', selectedSort) }">Sort DESC by length</option>
                                <option value="popularityAsc" th:selected="${ #strings.equals('popularityAsc', selectedSort) }">Sort ASC by popularity</option>
                                <option value="popularityDesc" th:selected="${ #strings.equals('popularityDesc', selectedSort) }">Sort DESC by popularity</option>
                                <option value="imdbAsc" th:selected="${ #strings.equals('imdbAsc', selectedSort) }">Sort ASC by IMDB rating</option>
                                <option value="imdbDesc" th:selected="${ #strings.equals('imdbDesc', selectedSort) }">Sort DESC by IMDB rating</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-outline mb-4">
                        Search:
                        <input type="search" name="keyword" class="form-control" id="datatable-search-input" th:value="${keyword}">
                        <input type="submit" class="search-button btn btn-primary" value="Search">
                    </div>
                </form>

                <div class="form-outline mb-2" id="clear-filter">
                    <a type="button" id="submit-cancel" class="btn btn-secondary" th:href="@{/movies?genre=*&year=0&language=*&keyword=}"> Clear filters </a>
                </div>

                <div class="row">
                    <div class="col-sm-3" th:each = "movie: ${movies}">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" th:src="${movie.poster}" th:alt="${movie.poster}">
                            <div class="card-body">
                                <p class="card-text" th:text="${movie.title}"></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-primary btn-sm btn-outline-secondary" th:href="@{/movies/getById/{id}(id=${movie.movieKey})}">View</a>
                                    </div>
                                    <strong class="text-muted" th:text="${movie.release}"></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>

</body>
</html>