<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" href="/css/movies.css" th:href="@{/css/movies.css}">
</head>

<body>

    <header>
        <div class="navbar navbar-dark bg-black">
            <div class="container d-flex justify-content-between">
                <a th:href="@{/}" class="navbar-brand d-flex align-items-center">
                    <strong>RSMC</strong>
                </a>
                <a class="navbar-brand d-flex align-items-right" th:href="@{/profile}">
                    Hello, <span th:text="${principalName}">USER</span>!
                </a>
                <a class="navbar-brand d-flex align-items-right" th:if="${principalName != null}" th:href="@{/logout}">
                    Logout
                </a>
            </div>
        </div>
    </header>

    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading" style="color: white;">MOVIES</h1>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="form-outline mb-5">
                    <form th:action="@{/movies}">
                        Search:
                        <input type="search" name="keyword" class="form-control" id="datatable-search-input">
                    </form>
                </div>

                <div class="row">
                    <div class="col-md-3" th:each = "movie: ${movies}">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" th:src="${movie.poster}" th:alt="${movie.poster}">
                            <div class="card-body">
                                <p class="card-text" th:text="${movie.title}"></p>
                                <details>
                                    <summary>Movie Overview</summary>
                                    <p class="card-text" th:text="${movie.overview}"></p>
                                </details>
                                <br>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-primary btn-sm btn-outline-secondary" th:href="@{/movies/getById/{id}(id=${movie.movieKey})}">View</a>
                                    </div>
                                    <strong class="text-muted" th:text="${movie.release}"></strong>
                                    <strong><small class="text-muted" th:text="${movie?.length}"></small> min</strong>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>

</body>
</html>