<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/my_dashboard.css}">
</head>
<body>

    <header th:insert="fragments/navbar :: navbar">
    </header>

    <div class="profilehead">
        <div class="profileheadcontent">
            <div class="profileheadcontentoverview">
                <div class="profileheadcontentoverviewphoto">
                    <img alt="image" class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                </div>
                <div class="profileheadcontentoverviewinfo">
                    <h3 class="user-fullname" th:text="${userDetails.fullName != null ? userDetails.fullName : 'Anonymous'}"></h3>
                    <h4>(<strong id="nickname-bl" th:text="${userDetails.nickname}"></strong>)</h4>
                </div>
            </div>
            <div class="profileheadcontentfollows">
                <span>
                    <a href="#">0 Following</a>
                    <a href="#">0 Followers</a>
                </span>
            </div>
            <div th:if="${followerPage}" class="profileheadcontentfollows">
              <span>
                  <form method="post" th:action="@{/profile/follow/{id}(id=${nickname})}" id="follow">
                    <button th:if="${!isFollow}" class="follow-button" type="submit" form="follow" name="action" value="follow">Follow</button>
                    <button th:if="${isFollow}" class="follow-button" type="submit" form="follow" name="action" value="unfollow">Unfollow</button>
                  </form>
              </span>
            </div>
        </div>
    </div>

    <div th:replace=" ${!followerPage} ? ~{fragments/profilebar :: profilebar} : ~{fragments/followerbar :: followerbar}">
    </div>

    <div class="container bootdey">
        <div class="content">

            <div class="col-md-20">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Personal Lists</strong>
                    </div>

                    <div class="panel-body">
                        <div class="category-block left" th:if="${recentWatchedMovies != null && recentWatchedMovies.size() != 0}">
                            <h3 class="recently-header">Recently Watched Movies</h3>
                            <section class="exploreScroll">
                                <div class="horizontal-scroll-wrapper squares">
                                    <div class="card-list" th:each="recentMovies : ${recentWatchedMovies}">
                                        <div class="card card-img"><img th:src="${recentMovies.getMovie().poster}" th:alt="${recentMovies.getMovie().poster}"></div>
                                        <div class="info" th:text="${recentMovies.getMovie().title}"></div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="category-block right" th:if="${planToWatchMovies != null && planToWatchMovies.size() != 0}">
                            <h3 class="recently-header">Plan to Watch</h3>
                            <section class="exploreScroll">
                                <div class="horizontal-scroll-wrapper squares">
                                    <div class="card-list" th:each="planWatch : ${planToWatchMovies}">
                                        <div class="card card-img"><img th:src="${planWatch.getMovie().poster}" th:alt="${planWatch.getMovie().poster}"></div>
                                        <div class="info">
                                            <span th:text="${planWatch.getMovie().title}"></span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <br>
                        <div class="category-block left" th:if="${recentWatchedTvs != null && recentWatchedTvs.size() != 0}">
                            <h3 class="recently-header">Recently Watched Tv Series</h3>
                            <section class="exploreScroll">
                                <div class="horizontal-scroll-wrapper squares">
                                    <div class="card-list" th:each="recentTv : ${recentWatchedTvs}">
                                        <div class="card  card-img"><img th:src="${recentTv.tvSeries.poster}" th:alt="${recentTv.getTvSeries().poster}"></div>
                                        <div class="info" th:text="${recentTv.tvSeries.title}"></div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="category-block right" th:if="${planToWatchTvs != null && planToWatchTvs.size() != 0}">
                            <h3 class="recently-header">Plan to Watch</h3>
                            <section class="exploreScroll">
                                <div class="horizontal-scroll-wrapper squares">
                                    <div class="card-list" th:each="planWatch : ${planToWatchTvs}">
                                        <div class="card"><img th:src="${planWatch.getTvSeries().poster}" th:alt="${planWatch.getTvSeries().poster}"></div>
                                        <div class="info">
                                            <span th:text="${planWatch.getTvSeries().title}"></span>
                                            &#9672; IMDB:
                                            <span th:text="${planWatch.getTvSeries().voteaverage}"></span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <br>
                        <div class="category-block left" th:if="${recentWatchedAnime != null && recentWatchedAnime.size() != 0}">
                            <h3 class="recently-header">Recently Watched Anime</h3>
                            <section class="exploreScroll">
                                <div class="horizontal-scroll-wrapper squares">
                                    <div class="card-list" th:each="recentAnime : ${recentWatchedAnime}">
                                        <div class="card card-img"><img th:src="${recentAnime.getAnime().poster}" th:alt="${recentAnime.getAnime().poster}"></div>
                                        <div class="info" th:text="${recentAnime.getAnime().title}"></div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="category-block right" th:if="${planToWatchAnime != null && planToWatchAnime.size() != 0}">
                            <h3 class="recently-header">Plan to Watch</h3>
                            <section class="exploreScroll">
                                <div class="horizontal-scroll-wrapper squares">
                                    <div class="card-list" th:each="planWatch : ${planToWatchAnime}">
                                        <div class="card card-img"><img th:src="${planWatch.getAnime().poster}" th:alt="${planWatch.getAnime().poster}"></div>
                                        <div class="info">
                                            <span th:text="${planWatch.getAnime().title}"></span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <br>
                        <div class="category-block left" th:if="${recentCompletedBooks != null && recentCompletedBooks.size() != 0}">
                            <h3 class="recently-header">Recently Completed Books</h3>
                            <section class="exploreScroll">
                                <div class="horizontal-scroll-wrapper squares">
                                    <div class="card-list" th:each="recentBook : ${recentCompletedBooks}">
                                        <div class="card card-img"><img th:src="${recentBook.getBooks().poster}" th:alt="${recentBook.getBooks().poster}"></div>
                                        <div class="info" th:text="${recentBook.getBooks().title}"></div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="category-block right" th:if="${planToReadBooks != null && planToReadBooks.size() != 0}">
                            <h3 class="recently-header">Plan to Read</h3>
                            <section class="exploreScroll">
                                <div class="horizontal-scroll-wrapper squares">
                                    <div class="card-list" th:each="planRead : ${planToReadBooks}">
                                        <div class="card card-img"><img th:src="${planRead.getBooks().poster}" th:alt="${planRead.getBooks().poster}"></div>
                                        <div class="info">
                                            <span th:text="${planRead.getBooks().title}"></span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>