<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/my_dashboard.css}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Texturina:wght@300&display=swap');
    </style>
</head>
<body>

    <header>
        <div class="main-pages">
            <div class="page" id="index-logo">
                <a th:href="@{/}" class="navbar-brand">
                    <strong id="index-page">RSMC</strong>
                </a>
            </div>
            <div class="page">
                <a class="navbar-brand" th:href="@{/profile/overview}">
                    <img alt="image" class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                    <span id="selected-main-page">PROFILE</span>
                </a>
            </div>
            <div class="page">
                <a class="navbar-brand" th:href="@{/movies}">
                    <img src="https://i.ibb.co/prcykHQ/movie-icon.png" alt="movie-icon">
                    <span>MOVIES</span>
                </a>
            </div>
            <div class="page">
                <a class="navbar-brand" th:href="@{/tv}">
                    <img src="https://i.ibb.co/vvPdYGF/tv-icon.webp" alt="tv-icon">
                    <span>TV SERIES</span>
                </a>
            </div>
            <div class="page">
                <a class="navbar-brand" th:href="@{/anime}">
                    <img src="https://i.ibb.co/PMKrBwq/anime-icon.png" alt="anime-icon">
                    <span>ANIME</span>
                </a>
            </div>
            <div class="page">
                <a class="navbar-brand" href="#">
                    <img src="https://i.ibb.co/zJr1vDg/music-icon.png" alt="music-icon">
                    <span>MUSIC</span>
                </a>
            </div>
            <div class="page">
                <a class="navbar-brand" href="#">
                    <img src="https://i.ibb.co/rZ30zGW/books.png" alt="books">
                    <span>BOOKS</span>
                </a>
            </div>
            <div class="page">
                <a class="navbar-brand" href="#">
                    <img src="https://i.ibb.co/Yhy7KbQ/comic.png" alt="comic">
                    <span>MANGA</span>
                </a>
            </div>
            <div class="page">
                <a class="navbar-brand" th:href="@{/logout}">
                    Logout
                </a>
            </div>
        </div>
    </header>

    <div class="profilehead">
        <div class="profileheadcontent">
            <div class="profileheadcontentoverview">
                <div class="profileheadcontentoverviewphoto">
                    <img alt="image" class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                </div>
                <div class="profileheadcontentoverviewinfo">
                    <h3 class="user-fullname" th:text="${userDetails.fullName != null ? userDetails.fullName : 'Anonymous'}"></h3>
                    <h4>(<strong id="nickname-bl" th:text="${userDetails.nickname}"></strong>)</h4>
                </div>
            </div>
            <div class="profileheadcontentfollows">
                <span>
                    <a href="#">0 Following</a>
                    <a href="#">0 Followers</a>
                </span>
            </div>
        </div>
    </div>

    <div class="profilenavbar">
        <a th:href="@{/profile/dashboard}">
            <div class="profilebarbuttons" id="selectedbtn">
                <span>MY DASHBOARD</span>
            </div>
        </a>
        <a th:href="@{/profile/overview}">
            <div class="profilebarbuttons">
                <span>OVERVIEW</span>
            </div>
        </a>
        <a th:href="@{/profile/myMovieList}">
            <div class="profilebarbuttons">
                <span>MY MOVIE</span>
            </div>
        </a>
        <a th:href="@{/profile/myTvList}">
            <div class="profilebarbuttons">
                <span>MY TV SHOWS</span>
            </div>
        </a>
        <a th:href="@{/profile/myAnimeList}">
            <div class="profilebarbuttons">
                <span>MY ANIME</span>
            </div>
        </a>
        <a href="#">
            <div class="profilebarbuttons">
                <span>MY GAMES</span>
            </div>
        </a>
        <a href="#">
            <div class="profilebarbuttons">
                <span>MY MUSIC</span>
            </div>
        </a>
        <a href="#">
            <div class="profilebarbuttons">
                <span>MY BOOKS</span>
            </div>
        </a>
        <a th:href="@{/profile/reviews}">
            <div class="profilebarbuttons">
                <span>MY REVIEWS</span>
            </div>
        </a>
        <a href="#">
            <div class="profilebarbuttons">
                <span>MY STATS</span>
            </div>
        </a>
        <a href="#">
            <div class="profilebarbuttons">
                <span>MY FRIENDS</span>
            </div>
        </a>
    </div>

    <div class="container bootdey">
        <div class="content">

            <div class="col-md-20">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Personal Lists</strong>
                    </div>

                    <div class="panel-body">
                        <div class="category-block left" th:if="${recentWatchedMovies != null && recentWatchedMovies.size() != 0}">
                            <h3 class="recently-header">Recently Watched Movies</h3>
                            <section class="exploreScroll">
                                <div class="horizontal-scroll-wrapper squares">
                                    <div class="card-list" th:each="recentMovies : ${recentWatchedMovies}">
                                        <div class="card"><img th:src="${recentMovies.getMovie().poster}" th:alt="${recentMovies.getMovie().poster}"></div>
                                        <div class="info" th:text="${recentMovies.getMovie().title}"></div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="category-block right" th:if="${planToWatchMovies != null && planToWatchMovies.size() != 0}">
                            <h3 class="recently-header">Plan to Watch</h3>
                            <section class="exploreScroll">
                                <div class="horizontal-scroll-wrapper squares">
                                    <div class="card-list" th:each="planWatch : ${planToWatchMovies}">
                                        <div class="card"><img th:src="${planWatch.getMovie().poster}" th:alt="${planWatch.getMovie().poster}"></div>
                                        <div class="info">
                                            <span th:text="${planWatch.getMovie().title}"></span>
                                             &#9672; IMDB:
                                            <span th:text="${planWatch.getMovie().voteaverage}"></span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <br>
                        <div class="category-block left" th:if="${recentWatchedTvs != null && recentWatchedTvs.size() != 0}">
                            <h3 class="recently-header">Recently Watched Tv Series</h3>
                            <section class="exploreScroll">
                                <div class="horizontal-scroll-wrapper squares">
                                    <div class="card-list" th:each="recentTv : ${recentWatchedTvs}">
                                        <div class="card"><img th:src="${recentTv.tvSeries.poster}" th:alt="${recentTv.getTvSeries().poster}"></div>
                                        <div class="info" th:text="${recentTv.tvSeries.title}"></div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="category-block right" th:if="${planToWatchTvs != null && planToWatchTvs.size() != 0}">
                            <h3 class="recently-header">Plan to Watch</h3>
                            <section class="exploreScroll">
                                <div class="horizontal-scroll-wrapper squares">
                                    <div class="card-list" th:each="planWatch : ${planToWatchTvs}">
                                        <div class="card"><img th:src="${planWatch.getTvSeries().poster}" th:alt="${planWatch.getTvSeries().poster}"></div>
                                        <div class="info">
                                            <span th:text="${planWatch.getTvSeries().title}"></span>
                                            &#9672; IMDB:
                                            <span th:text="${planWatch.getTvSeries().voteaverage}"></span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <br>
                        <div class="category-block left" th:if="${recentWatchedAnime != null && recentWatchedAnime.size() != 0}">
                            <h3 class="recently-header">Recently Watched Anime</h3>
                            <section class="exploreScroll">
                                <div class="horizontal-scroll-wrapper squares">
                                    <div class="card-list" th:each="recentAnime : ${recentWatchedAnime}">
                                        <div class="card"><img th:src="${recentAnime.getAnime().poster}" th:alt="${recentAnime.getAnime().poster}"></div>
                                        <div class="info" th:text="${recentAnime.getAnime().title}"></div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="category-block right" th:if="${planToWatchAnime != null && planToWatchAnime.size() != 0}">
                            <h3 class="recently-header">Plan to Watch</h3>
                            <section class="exploreScroll">
                                <div class="horizontal-scroll-wrapper squares">
                                    <div class="card-list" th:each="planWatch : ${planToWatchAnime}">
                                        <div class="card"><img th:src="${planWatch.getAnime().poster}" th:alt="${planWatch.getAnime().poster}"></div>
                                        <div class="info">
                                            <span th:text="${planWatch.getAnime().title}"></span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>