<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/css/index.css" th:href="@{/css/profile_overview.css}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Texturina:wght@300&display=swap');
    </style>
</head>
<body>

    <header>
        <div class="main-pages">
            <div class="page" id="index-logo">
                <a th:href="@{/}" class="navbar-brand">
                    <strong id="index-page">RSMC</strong>
                </a>
            </div>
            <div class="page">
                <a class="navbar-brand" th:href="@{/profile/overview}">
                    <img alt="image" class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                    <span id="selected-main-page">PROFILE</span>
                </a>
            </div>
            <div class="page">
                <a class="navbar-brand" th:href="@{/movies}">
                    <img src="https://i.ibb.co/prcykHQ/movie-icon.png" alt="movie-icon">
                    <span>MOVIES</span>
                </a>
            </div>
            <div class="page">
                <a class="navbar-brand" th:href="@{/tv}">
                    <img src="https://i.ibb.co/vvPdYGF/tv-icon.webp" alt="tv-icon">
                    <span>TV SERIES</span>
                </a>
            </div>
            <div class="page">
                <a class="navbar-brand" th:href="@{/anime}">
                    <img src="https://i.ibb.co/PMKrBwq/anime-icon.png" alt="anime-icon">
                    <span>ANIME</span>
                </a>
            </div>
            <div class="page">
                <a class="navbar-brand" th:href="@{/movies}">
                    <img src="https://i.ibb.co/zJr1vDg/music-icon.png" alt="music-icon">
                    <span>MUSIC</span>
                </a>
            </div>
            <div class="page">
                <a class="navbar-brand" th:href="@{/movies}">
                    <img src="https://i.ibb.co/rZ30zGW/books.png" alt="books">
                    <span>BOOKS</span>
                </a>
            </div>
            <div class="page">
                <a class="navbar-brand" th:href="@{/movies}">
                    <img src="https://i.ibb.co/Yhy7KbQ/comic.png" alt="comic">
                    <span>MANGA</span>
                </a>
            </div>
            <div class="page">
                <a class="navbar-brand" th:href="@{/logout}">
                    Logout
                </a>
            </div>
        </div>
    </header>

    <div class="profilehead">
        <div class="profileheadcontent">
            <div class="profileheadcontentoverview">
                <div class="profileheadcontentoverviewphoto">
                    <img alt="image" class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                </div>

                <div class="profileheadcontentoverviewinfo">
                    <h3 class="user-fullname" th:text="${userDetails.fullName != null ? userDetails.fullName : 'Anonymous'}"></h3>
                    <h4>(<strong id="nickname-bl" th:text="${userDetails.nickname}"></strong>)</h4>
                </div>
            </div>

            <div class="profileheadcontentfollows">
                <span>
                    <a href="#">0 Following</a>
                    <a href="#">0 Followers</a>
                </span>
            </div>
        </div>
    </div>

    <div class="profilenavbar">
        <a th:href="@{/profile/dashboard}">
            <div class="profilebarbuttons">
                <span>MY DASHBOARD</span>
            </div>
        </a>
        <a th:href="@{/profile/overview}">
            <div class="profilebarbuttons" id="selectedbtn">
                <span>OVERVIEW</span>
            </div>
        </a>
        <a th:href="@{/profile/myMovieList}">
            <div class="profilebarbuttons">
                <span>MY MOVIE</span>
            </div>
        </a>
        <a th:href="@{/profile/myTvList}">
            <div class="profilebarbuttons">
                <span>MY TV SHOWS</span>
            </div>
        </a>
        <a th:href="@{/profile/myAnimeList}">
            <div class="profilebarbuttons">
                <span>MY ANIME</span>
            </div>
        </a>
        <a href="#">
            <div class="profilebarbuttons">
                <span>MY GAMES</span>
            </div>
        </a>
        <a href="#">
            <div class="profilebarbuttons">
                <span>MY MUSIC</span>
            </div>
        </a>
        <a href="#">
            <div class="profilebarbuttons">
                <span>MY BOOKS</span>
            </div>
        </a>
        <a th:href="@{/profile/reviews}">
            <div class="profilebarbuttons">
                <span>MY REVIEWS</span>
            </div>
        </a>
        <a href="#">
            <div class="profilebarbuttons">
                <span>MY STATS</span>
            </div>
        </a>
        <a href="#">
            <div class="profilebarbuttons">
                <span>MY FRIENDS</span>
            </div>
        </a>
    </div>

    <div class="container bootdey">
        <div class="content">
            <div id="pad-wrapper">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Details</strong>
                        </div>
                        <div class="panel-body no-padding">
                            <div class="ibox-content profile-content">
                                <p>
                                    <i class="fa fa-map-marker"></i>
                                    <span th:text="${userDetails.userLocation != null ? userDetails.userLocation : 'Somewhere in the world..'}"></span>
                                </p>
                                <h5>
                                    <strong>About me</strong>
                                </h5>
                                <p th:text="${userDetails.userOverview != null ? userDetails.userOverview : 'Seem that user is so mysterious...'}"></p>

                                <div class="user-button">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a type="button" class="btn btn-default btn-sm btn-block" th:href="@{/profile/settings}">
                                                <i class="fa fa-sharp fa-solid fa-gear"></i> Settings
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Activities</strong>
                        </div>
                        <div class="panel-body">
                            <div class="ibox-content">
                                <div class="feed-activity-list">
                                    <div class="feed-element" th:each="activity : ${ userActivity }">
                                        <a th:href="@{${activity.contentPosterLink}}" class="pull-left">
                                            <img alt="image" class="img-circle" th:src="${activity.poster}">
                                        </a>

                                        <div class="media-body ">
                                            <strong class="nickname">espada1317</strong>
                                            marked
                                            <span th:text="${activity.type}"></span>
                                            <a class="movie-title" th:href="@{${activity.contentPosterLink}}" th:text="${activity.title}"></a>
                                            with mark
                                            <strong th:text="${activity.reviewScore} + '/10'"></strong>
                                            <br>
                                            <span class="review" th:if="${activity.reviewMessage != null && activity.reviewMessage.length > 1}" th:text="${'Review message: &#34;' + activity.reviewMessage + '&#34;'}"></span>
                                            <br th:if="${activity.reviewMessage != null && activity.reviewMessage.length > 1}">
                                            <small class="text-muted" th:text="${ #temporals.format(activity.localDateTime, 'dd-MM-yyyy HH:mm:ss') }"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>