<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Movie Details</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/tv_details.css}">
</head>
<body>

<div class="container">

  <div class="card mb-2">
    <div class="card-body" th:each = "tv: ${tvSeries}">
      <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="white-box text-center"><img th:src="${tv.poster}" width="100%" class="img-responsive"></div>
        </div>

        <div class="col-lg-8 col-md-7 col-sm-6">
          <h1 class="card-title" th:text="${tv.title}"></h1>
          <h5 class="mt-4">Runtime Start & End:</h5>
          <h6 th:text="${tv.runtimeStart != null ? tv.runtimeStart : 'Long time ago'} + ' - ' + ${tv.runtimeEnd != null ? tv.runtimeEnd : 'Present'}"></h6>
          <h5 class="mt-4">Number of Episodes and Average Runtime:</h5>
          <h6> <span th:text="${tv.numberEpisodes}"></span> episodes x <span th:text="${tv.averageRuntime}"></span> min</h6>
          <h5 class="mt-4">Tv IMDB rating:</h5>
          <h6>
            <span th:text="${tv.voteAverage}"></span> (
            <span th:text="${tv.voteCount}"></span> votes)
          </h6>
          <h5 class="mt-4">Genres:</h5>
          <div th:each="genre,count : ${#strings.arraySplit(tv.genres, ',')}" class="form-outline mb-1 container">
            <a class="div-genres" th:text="${genre.trim()}" th:href="@{'/tv?genre='+${genre.trim()}+'&year=0&language=*&sortBy=titleAsc&keyword='}"></a>
          </div>
          <br>
          <h5 class="mt-4">Actors:</h5>
          <div class="form-outline mb-1 container">
            <span class="div-genres" th:if="${tv.star1 != null && tv.star1 != ''}" th:text="${tv.star1} + ' |'"></span>
            <span class="div-genres" th:if="${tv.star2 != null && tv.star2 != ''}" th:text="${tv.star2} + ' |'"></span>
            <span class="div-genres" th:if="${tv.star3 != null && tv.star3 != ''}" th:text="${tv.star3} + ' |'"></span>
            <span class="div-genres" th:if="${tv.star4 != null && tv.star4 != ''}" th:text="${tv.star4}"></span>
          </div>
          <br>
          <h5 class="box-title mt-3">Tv Series description:</h5>
          <h6> <span th:text="${tv.overview}"></span> </h6>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <form method="post" id="review-form" th:action="@{/tv/saveReview(id=${tvID})}" th:object="${tvReviewDto}">
          <div class="form-outline container mb-2">
            <div class="dropdown dropdown-dark">
              <select name="category" class="dropdown-select" id="genre-drop">
                <option selected hidden="" disabled>Add to list</option>
                <option value="plan_watch" th:selected="${ reviewInfo != null &&  #strings.equals('plan_watch', reviewInfo.getCategory()) }">Plan to Watch</option>
                <option value="watching" th:selected="${ reviewInfo != null &&  #strings.equals('watching', reviewInfo.getCategory()) }">Watching</option>
                <option value="completed" th:selected="${ reviewInfo != null &&  #strings.equals('completed', reviewInfo.getCategory()) }">Completed</option>
                <option value="on_hold" th:selected="${ reviewInfo != null &&  #strings.equals('on_hold', reviewInfo.getCategory()) }">On Hold</option>
                <option value="dropped" th:selected="${ reviewInfo != null &&  #strings.equals('dropped', reviewInfo.getCategory()) }">Dropped</option>
              </select>
            </div>

            <div class="dropdown dropdown-dark">
              <select name="scoreReview" class="dropdown-select">
                <option selected hidden="" disabled>Select grade</option>
                <option value="10" th:selected="${ reviewInfo != null && reviewInfo.getReviewScore() == 10 }">(10) Masterpiece</option>
                <option value="9" th:selected="${ reviewInfo != null && reviewInfo.getReviewScore() == 9 }">(9) Great</option>
                <option value="8" th:selected="${ reviewInfo != null && reviewInfo.getReviewScore() == 8 }">(8) Very Good</option>
                <option value="7" th:selected="${ reviewInfo != null && reviewInfo.getReviewScore() == 7 }">(7) Good</option>
                <option value="6" th:selected="${ reviewInfo != null && reviewInfo.getReviewScore() == 6 }">(6) Fine</option>
                <option value="5" th:selected="${ reviewInfo != null && reviewInfo.getReviewScore() == 5 }">(5) Average</option>
                <option value="4" th:selected="${ reviewInfo != null && reviewInfo.getReviewScore() == 4 }">(4) Bad</option>
                <option value="3" th:selected="${ reviewInfo != null && reviewInfo.getReviewScore() == 3 }">(3) Very bad</option>
                <option value="2" th:selected="${ reviewInfo != null && reviewInfo.getReviewScore() == 2 }">(2) Horrible</option>
                <option value="1" th:selected="${ reviewInfo != null && reviewInfo.getReviewScore() == 1 }">(1) Appalling</option>
              </select>
            </div>

            <button th:if="${reviewInfo != null}" type="submit" name="action" value="delete" class="btn btn-secondary submit-cancel">Delete</button>
            <button th:if="${reviewInfo != null}" type="submit" name="action" value="update" class="btn btn-secondary submit-cancel">Update</button>
            <button th:if="${reviewInfo == null}" type="submit" name="action" value="save" id="submit"        class="btn btn-primary">Save</button>
          </div>

          <div class="col-xl-12 col-lg-5 col-md-6 col-sm-6 col-12">
            <div class="well">
              <textarea form="review-form" class="form-control" name="reviewMessage" placeholder="Say something about this movie to others" rows="5" th:text="${reviewInfo != null ? reviewInfo.getReviewMessage() : ''}"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

</body>
</html>