<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>TV Series</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/tv_series.css}">
</head>
<body>

  <header th:insert="fragments/navbar :: navbar">
  </header>

  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading" style="color: white;">TV SERIES</h1>
      </div>
    </section>

    <div class="album py-3 backgr">

      <div class="container">
        <form th:action="@{/tv}">
          <span class="white-blocks">Filters:</span>
          <div class="form-outline mb-1 container">
            <div class="dropdown dropdown-dark">
              <select name="genre" class="dropdown-select" id="genre-drop">
                <option selected value="*">All genres</option>
                <option th:each="genre: ${tvGenres}" th:value="${genre}" th:text="${genre}" th:selected="${genre.equals(selectedGenre)}"></option>
              </select>
            </div>
            <div class="dropdown dropdown-dark">
              <select name="startYear" class="dropdown-select">
                <option selected value="0">All start release year</option>
                <option th:each="rs_year: ${releaseStartYears}" th:value="${rs_year}" th:text="${rs_year}" th:selected="${rs_year.equals(selectedStartYear)}"></option>
              </select>
            </div>
            <div class="dropdown dropdown-dark">
              <select name="endYear" class="dropdown-select">
                <option selected value="0">All end release year</option>
                <option th:each="re_year: ${releaseEndYears}" th:value="${re_year}" th:text="${ re_year == 9999 ? 'Present' : re_year }" th:selected="${re_year.equals(selectedEndYear)}"></option>
              </select>
            </div>
            <div class="dropdown dropdown-dark">
              <select name="sortBy" class="dropdown-select">
                <option selected value="titleAsc" th:selected="${ #strings.equals('titleAsc', selectedSort) }">Sort ASC by title</option>
                <option value="titleDesc" th:selected="${ #strings.equals('titleDesc', selectedSort) }">Sort DESC by title</option>
                <option value="lengthAsc" th:selected="${ #strings.equals('lengthAsc', selectedSort) }">Sort ASC by total length</option>
                <option value="lengthDesc" th:selected="${ #strings.equals('lengthDesc', selectedSort) }">Sort DESC by total length</option>
                <option value="imdbAsc" th:selected="${ #strings.equals('imdbAsc', selectedSort) }">Sort ASC by IMDB rating</option>
                <option value="imdbDesc" th:selected="${ #strings.equals('imdbDesc', selectedSort) }">Sort DESC by IMDB rating</option>
              </select>
            </div>
          </div>

          <div class="form-outline mb-4">
            <span class="white-blocks">Search:</span>
            <input type="search" name="keyword" class="form-control" id="datatable-search-input" th:value="${keyword}">
            <input type="submit" class="search-button btn btn-primary" value="Search">
          </div>
        </form>

        <div class="form-outline mb-2" id="clear-filter">
          <a type="button" id="submit-cancel" class="btn btn-secondary" th:href="@{/tv?genre=*&startYear=0&endYear=0&keyword=}"> Clear filters </a>
        </div>

        <div class="row">
          <div class="col-sm-3" th:each = "tv: ${tvSeries}">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" th:src="${tv.poster}" th:alt="${tv.poster}">
              <div class="card-body">
                <p class="card-text" th:text="${tv.title}"></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-primary btn-sm btn-outline-secondary" th:href="@{/tv/getById/{id}(id=${tv.tvKey})}">View</a>
                  </div>
                  <strong class="text-muted" th:text="${tv.runtimeStart} + ' - ' + ${ tv.runtimeEnd == 9999 ? 'Present' : tv.runtimeEnd}"></strong>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </main>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
    </div>
  </footer>

</body>
</html>